.wrapper {
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .radio {
    border: 2px solid #aaaaaa;
    width: auto;
    height: 5rem;
    margin: 0.5rem 0;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 2rem;

    span {
      color: #000;
      font-weight: 600;
      letter-spacing: 0.1rem;
    }

    img {
      width: 3.6rem;
      height: 3.6rem;
      object-fit: cover;
    }
  }
}
