.container {
  padding: 4rem 0 4rem 8rem;
}
.notify {
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -8rem;
}

.border {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 4rem;
  box-shadow: 0 0 1.2rem rgb(152, 152, 152);
}
.icon {
  font-size: 16rem;
  color: rgb(206, 191, 58);
}

.title {
  font-size: 4rem;
  font-weight: 700;
}

.notify-content {
  font-size: 2.4rem;
  width: 48rem;
  text-align: center;
  font-weight: 500;
  color: rgb(129, 128, 128);
}

.thank {
  font-size: 2rem;
  font-weight: 600;
}
