.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 11.4rem;
  display: flex;
  gap: 2rem;
  padding: 2rem 8rem;
}

.content {
  flex: 1;
}
