.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.blur {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.191);
}

.hidden {
  display: none;
}

.un-scroll {
  overflow: hidden;
}

.container {
  display: flex;
  gap: 2rem;
  margin-top: 11.4rem;
}
