.wrapper {
  width: 100%;
  min-width: 24rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  padding: 0.2rem 2rem;
  color: #000 !important;
  letter-spacing: 0.2rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.list-categories,
.list-filter {
  color: rgb(125, 124, 124) !important;
}

.category,
.filter {
  padding: 0 2rem;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: #000 !important;
  }

  li {
    padding: 1.2rem 0;
  }
}
