.wrapper {
  color: #000;
}
.container {
  display: flex;
  gap: 2rem;
}

.image {
  position: relative;

  img {
    width: 12rem;
    height: 17rem;
    object-fit: cover;
    border-radius: 2rem;
  }
}

.count {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 5rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #000;
  text-align: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.name {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.color {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.title-color {
  font-weight: 700;
}

.color-circle {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
}

.quantity {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 2rem 0;
}

.quantity-btn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  border: solid #aaaaaa;
  border-radius: 0.6rem;
  width: 10rem;
  user-select: none;
}

.btn {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  width: 3rem;
  border: none;

  &:hover {
    background-color: #aaa;
  }
}

.price {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 1.4rem;
  padding: 2rem 2rem 2rem 2rem;
  flex: 1;

  span {
    text-align: right;
  }
}

.old-price {
  text-decoration: line-through;
}

.sale-price {
  color: var(--primary) !important;
}
