.wrapper {
  padding: 1rem;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.title {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 2rem 0;
  overflow: scroll;
  height: 44rem;
}

.item {
  position: relative;
}

.btn-delete {
  position: absolute;
  right: -3rem;
  top: -2.4rem;
  font-weight: bold;
  font-size: 2.4rem;
  padding: 0;

  &:hover {
    color: #aaa;
    text-decoration: none;
    transform: scale(1.1);
  }
}

.description,
.total {
  color: #000;
  border-top: 1px solid #aaa;
  padding: 2rem 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.des-item,
.total {
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 2rem;
}
