.form {
  z-index: 1;
  background-color: white;
  border-radius: 2.4rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.title {
  text-align: left;
  color: var(--black);
  font-weight: 1000;
  margin-top: 1.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.content {
  width: 100%;
  height: 100%;
}
