.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  color: rgb(75, 73, 73) !important;
  margin-top: 2rem;
  font-weight: 500;
  font-size: 2rem;
  line-height: 1.4;

  span {
    cursor: pointer;
    &:hover {
      color: rgb(0, 0, 0) !important;
    }
  }
}

.page-btn {
  display: flex;
  gap: 2rem;
}

.icon,
.active {
  font-size: 2.8rem;
  line-height: 1;
}

.active {
  cursor: default !important;
  color: rgb(0, 0, 0) !important;
}
