.wrapper {
  height: 100vh;
  background-color: var(--primary);
  position: relative;
  overflow: hidden;
}
.background {
  width: 100%;
  height: 50%;
  background-color: #fff;
}

.logo {
  width: 72%;
  height: auto;
  transform: translate(-20%, -10%);
}

.content {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -15%);
}
