.content {
  display: flex;
  gap: 2rem;
}

.sub-image {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sub-image-item {
  width: 6rem;
  height: 8rem;
  object-fit: cover;

  &:hover {
    border: solid 1px #000;
  }
}

.thumbnail {
  width: 48rem;
  height: 62rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
