.wrapper {
  width: 28.8rem;
  height: 42rem;
  padding: 2rem 0;
  cursor: pointer;
  color: #000 !important;

  &:hover {
    background-color: #d9d9d9;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.sale {
  position: absolute;
  top: 2rem;
  left: 3.6rem;
  width: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.thumbnail {
  width: 100%;
  display: flex;
  justify-content: center;
}

.product-image {
  width: 90%;
  height: 90%;
  object-fit: cover;
  justify-content: center;
}

.product-name {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}

.product-price {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.old-price {
  text-decoration: line-through;
}

.sale-price {
  color: var(--primary) !important;
}
