.wrapper {
  padding: 1rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
}

.evaluate {
  width: 100%;
  margin-top: 4rem;
  border-top: solid 1px #aaa;
}

@media only screen and (min-width: 360px) {
  .content {
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) {
  .content {
    flex-direction: column;
  }
}
@media only screen and (min-width: 1280px) {
  .content {
    flex-direction: row;
  }
}
