.wrapper {
  padding: 1rem;
  color: #000 !important;
  font-weight: 600;
  width: 96rem;
}
.content {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.img-avatar {
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
}

.comment-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.customer-name {
  font-size: 2.4rem;
}

.comment {
  font-size: 1.8rem;
}

.active,
.un-active,
.half-active {
  color: rgb(255, 234, 0);
}
