@media only screen and (min-device-width: 360px) {
  .input {
    font-size: 1.4rem !important;
    padding: 1rem 2rem;
  }

  .bottom {
    margin-top: 0 !important;
    font-size: 1.4rem !important;
  }
}

@media only screen and (min-device-width: 768px) {
  .form {
    transform: translate(0, 30%);
  }
}

@media only screen and (min-device-width: 1280px) {
  .form {
    transform: translate(0);
  }
}
