.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 1rem;
}

.input {
  margin-top: 0;
}

.radio-gender {
  flex: 1;
  display: flex;
  gap: 1rem;
  color: #000;
  align-items: center;
  border: 2px solid #000;
  padding: 1rem 3rem;
  border-radius: 5rem;
}

.title {
  font-weight: 500;
}

.radio-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: 2rem;
}

.bottom {
  margin-top: 1rem;
}

.sign-in {
  width: 100%;
  display: flex;
  justify-content: center;
}
